extends layout

block content
  h1 Hello MVC 
  p Ingresá el ID del usuario que qurés buscar.
  form.form-inline(action='/search' method='get')
    div.form-group.mr-sm-3
      input.form-control(type='text' name='id' placeholder='ID')
    input.form-control.btn.btn-primary(type='submit' value='Buscar')
  hr
  pre= users
  table.table.table-striped
    thead.thead-dark 
      th ID 
      th Nombre 
      th Email 
      th Cumpleaños 
      th Edad 
    tbody 
  hr
  h4 Más info en 
    a(href="#") MDN